In [ ]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic

In [2]:
cer = pd.read_csv("links_cer.csv")
cer_result = pd.read_csv("Apis_cerana_result.csv")

mel = pd.read_csv("links_mel.csv")
mel_result = pd.read_csv("Apis_mellifera_result.csv")

In [3]:
id1 = 0
id2 = 0

In [4]:


def calculate_distance(df_result, id1, id2):
    """
    데이터프레임의 id1번째 행과 id2번째 행의 위도, 경도를 비교하여 거리를 계산하는 함수.

    Args:
        df (pd.DataFrame): 위도(Latitude), 경도(Longitude) 열을 포함하는 Pandas DataFrame.
        id1 (int): 비교할 첫 번째 행의 인덱스.
        id2 (int): 비교할 두 번째 행의 인덱스.

    Returns:
        float: 두 지점 간 거리(km).
    """
    if id1 == id2:
        return 0.0  # 같은 행이면 거리 0

    row1, row2 = df_result.iloc[id1], df_result.iloc[id2]
    lat1, lon1 = row1['Latitude'], row1['Longitude']
    lat2, lon2 = row2['Latitude'], row2['Longitude']

    return geodesic((lat1, lon1), (lat2, lon2)).km

# 사용 예시
import pandas as pd

df_result = cer_result

In [5]:
cer['degree'] = 0
mel['degree'] = 0

In [6]:
for i in range(len(cer)):
    id1 = cer['Source'][i]
    id2 = cer['Target'][i]
    cer['degree'][i] = calculate_distance(cer_result, id1-1, id2-1)

C:\Users\mycom\AppData\Local\Temp\ipykernel_8100\1172803071.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  cer['degree'][i] = calculate_distance(cer_result, id1-1, id2-1)
C:\Users\mycom\AppData\Local\Temp\ipykernel_8100\1172803071.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.945334222479647' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  cer['degree'][i] = calculate_distance(cer_result, id1-1, id2-1)

In [7]:
cer

      Source  Target    degree
0          1       2  4.945334
1          1      22  5.274187
2          1     162  5.274187
3          1     407  5.274187
4          1     782  5.274187
...      ...     ...       ...
8497    1159      22  0.000000
8498    1159     162  0.000000
8499    1159     407  0.000000
8500    1159     782  0.000000
8501    1159    1078  0.000000

[8502 rows x 3 columns]

In [8]:
cer_result['종'][id1-1]

'개다래'

In [10]:
cer["degree_weight"] = 1 / cer["degree"]

In [21]:
cer

      Source  Target    degree  degree_weight
0          1       2  4.945334       0.202211
1          1      22  5.274187       0.189603
2          1     162  5.274187       0.189603
3          1     407  5.274187       0.189603
4          1     782  5.274187       0.189603
...      ...     ...       ...            ...
8497    1159      22  0.000000       1.000000
8498    1159     162  0.000000       1.000000
8499    1159     407  0.000000       1.000000
8500    1159     782  0.000000       1.000000
8501    1159    1078  0.000000       1.000000

[8502 rows x 4 columns]

In [ ]:
cer['degree_weight'] = np.where(cer['degree'] == 0, 1, 1 / cer['degree'])

In [1]:
cer.to_csv("links_cer.csv", index=False)

NameError: name 'cer' is not defined

In [23]:
def calculate_distance(df_result, id1, id2):
    """
    데이터프레임의 id1번째 행과 id2번째 행의 위도, 경도를 비교하여 거리를 계산하는 함수.

    Args:
        df (pd.DataFrame): 위도(Latitude), 경도(Longitude) 열을 포함하는 Pandas DataFrame.
        id1 (int): 비교할 첫 번째 행의 인덱스.
        id2 (int): 비교할 두 번째 행의 인덱스.

    Returns:
        float: 두 지점 간 거리(km).
    """
    if id1 == id2:
        return 0.0  # 같은 행이면 거리 0

    row1, row2 = df_result.iloc[id1], df_result.iloc[id2]
    lat1, lon1 = row1['Latitude'], row1['Longitude']
    lat2, lon2 = row2['Latitude'], row2['Longitude']

    return geodesic((lat1, lon1), (lat2, lon2)).km

# 사용 예시
import pandas as pd

df_result = mel_result

In [15]:
for i in range(len(mel)):
    id1 = mel['Source'][i]
    id2 = mel['Target'][i]
    mel['degree'][i] = calculate_distance(mel_result, id1-1, id2-1)

C:\Users\mycom\AppData\Local\Temp\ipykernel_8100\1906553739.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  mel['degree'][i] = calculate_distance(mel_result, id1-1, id2-1)
C:\Users\mycom\AppData\Local\Temp\ipykernel_8100\1906553739.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.8157102606141797' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  mel['degree'][i] = calculate_distance(mel_result, id1-1, id2-1)

In [16]:
mel_result['종'][id1-1]

'개옻나무'

In [17]:
mel["degree_weight"] = 1 / mel["degree"]

In [24]:
mel['degree_weight'] = np.where(mel['degree'] == 0, 1, 1 / mel['degree'])

In [25]:
mel

     Source  Target    degree  degree_weight
0         5      17  2.815710       0.355150
1         6       7  0.000000       1.000000
2         6      23  1.894902       0.527732
3         7       6  0.000000       1.000000
4         7      23  1.894902       0.527732
..      ...     ...       ...            ...
147     150     117  5.989907       0.166947
148     155     117  3.828121       0.261225
149     155     156  0.000000       1.000000
150     156     117  3.828121       0.261225
151     156     155  0.000000       1.000000

[152 rows x 4 columns]

In [ ]:
mel.to_csv("links_mel.csv, index=False")