In [2]:
import pandas as pd

# 파일 경로
file_path = '꿀벌/밀원.csv'

In [3]:
# 파일 인코딩을 'euc-kr'로 설정하여 읽기
df = pd.read_csv(file_path, encoding='euc-kr')

# 데이터프레임의 구조와 상위 5개 데이터 확인
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9500 entries, 0 to 9499
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      9500 non-null   int64
 1   학명      9500 non-null   object
 2   종       9500 non-null   object
 3   경도      9500 non-null   float64
 4   위도      9500 non-null   float64
 5   관찰일자    9442 non-null   object
 6   연도      9500 non-null   int64
 7   지역      9479 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 593.9+ KB

(None,
                  id                학명    종         경도          위도        관찰일자  \
 0  3000000001070432  Castanea crenata  밤나무  37.787469  127.608081  2014-07-19
 1  3000000001098625  Castanea crenata  밤나무  37.732056  127.870139  2014-07-22
 2  3000000001098626  Castanea crenata  밤나무  37.732056  127.870139  2014-07-22
 3  3000000001242504  Castanea crenata  밤나무  37.949056  127.847944  2014-06-12
 4  3000000001254984  Castanea crenata  밤나무  37.931361  127.644889  2014-06-13

      연도   지역
 0  2014  강원도
 1  2014  강원도
 2  2014  강원도
 3  2014  강원도
 4  2014  강원도  )

In [4]:
# '종'별로 같은 좌표(경도, 위도)에 위치한 데이터의 개수를 카운트
count_data = df.groupby(['종', '위도', '경도']).size().reset_index(name='카운트')

# 상위 데이터 확인
count_data.head()

       종          위도         경도  카운트
0   가시나무  126.191617  34.284933    1
1   가시나무  126.198840  34.282386    1
2   가시나무  127.454917  34.956614    1
3  갈졸참나무  124.719528  37.965389    1
4  갈졸참나무  127.245886  37.505239    1

In [5]:
# count_data를 CSV 파일로 저장하는 코드
output_file_path = '꿀벌/count_data.csv'
count_data.to_csv(output_file_path, index=False, encoding='euc-kr')